@inherits NancyRazorViewBase<Drey.Configuration.Services.ViewModels.AppSettingPmo>
@{
    ViewBag.Title = "Application Settings Editor";
    var faBase = "fa fa-fw fa-3x";
}

@Html.Partial("Shared/ValidationSummary")

<form method="post" action="~/applet/@Model.PackageId/appSetting">

    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="PackageId" value="@Model.PackageId" />

    <div class="form-group">
        <label for="Key">Key</label>
        @if (Model.Id != 0)
        {
            <input type="hidden" value="@Model.Key" name="Key" />
            <span class="form-control-static">@Model.Key</span>
        }
        else
        {
            <input type="text" value="@Model.Key" name="Key" class="form-control" />
        }
    </div>

    <div class="form-group">
        <label for="Value">Value</label>
        <textarea class="form-control" rows="7" name="Value">@Model.Value</textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="~/applet/@Model.PackageId" class="btn btn-default">Cancel</a>
    </div>
</form>